<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/product" class="btn btn-primary mb-3">Cửa hàng</a>
<form action="/product" th:object="${cart}" method="get">
    <table class="table table-bordered table-hover">
        <tr>
            <td>#</td>
            <td>Sản phẩm</td>
            <td>Số lượng</td>
            <td>Thành tiền</td>
        </tr>
        <tr th:each="c,status : ${cart.product}">
            <td th:text="${status.count}"></td>
            <td th:text="${c.getKey().name}"></td>
            <td>
                <a id="decrease_button" th:href="@{/product/__${c.getKey().id}__/addToCart(action='minus')}"
                   th:text="${'-'}" ></a>
                <span th:text="${c.getValue()}"></span>
                <a id="increase_button" th:href="@{/product/__${c.getKey().id}__/addToCart(action='add')}"
                   th:text="${'+'}"></a>
            </td>
            <td th:text="${c.getKey().price}"></td>

        </tr>
    </table>
</form>

</body>
</html>